  <!---Song Table-->   
  <div style="position: relative;top:40px;" class="mat-elevation-z8"> 
    <h1>Songs:</h1>
    <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
  
  <!-- Position Column -->
  <ng-container matColumnDef="sname">
  <th mat-header-cell *matHeaderCellDef> Song Name </th>
  <td mat-cell *matCellDef="let song"> {{song.name}} </td>
  </ng-container>
  
  <ng-container matColumnDef="alname">
    <th mat-header-cell *matHeaderCellDef> Album Name </th>
    <td mat-cell *matCellDef="let song"> {{song.albumName}} </td>
    </ng-container>
  
  <!-- Name Column -->
  <ng-container matColumnDef="genre">
  <th mat-header-cell *matHeaderCellDef> Genre </th>
  <td mat-cell *matCellDef="let song"> {{song.genre}} </td>
  </ng-container>
  
  <!-- Weight Column -->
  <ng-container matColumnDef="prod">
  <th mat-header-cell *matHeaderCellDef> Music Producer </th>
  <td mat-cell *matCellDef="let song"> {{song.musicProducer}} </td>
  </ng-container>
  <ng-container matColumnDef="del">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let song"> <img src="assets/del.png" style="width:50px;cursor: pointer;" (click)="delete(song)"> </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[50, 10, 30, 100]" showFirstLastButtons></mat-paginator>
  <button style="margin-left: 30px;border: none;" (click)="show=true"><img src ="assets/add.png" style="width: 50px;height: 50px;background-color: transparent;">Add Songs</button>

</div>
  
  <!---song Table ends-->
<!--name,producer,genre,album-->
      <!---song form-->

<div style="position: relative;top:100px" *ngIf="show">
  <h1>Add Song</h1>
  <form action="/action_page.php">
    <select id="album" name="album" [(ngModel)]="alid">
      <option value="default">Select Album</option>
      <option *ngFor="let album of albums" value="{{album.alid}}">{{album.name}}</option>
    </select>

    <label for="fname">Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Song Name" [(ngModel)]="sname" [ngModelOptions]="{standalone: true}">

    <label for="fname">Music Producer</label>
    <input type="text" id="fname" name="firstname" placeholder="Music Producer" [(ngModel)]="mpro" [ngModelOptions]="{standalone: true}">


    <label for="lname">Genre</label>
    <input type="text" id="lname" name="lastname" placeholder="Genre" [(ngModel)]="genre" [ngModelOptions]="{standalone: true}">

    <input type="button" (click)="submit()" value="Submit">
  </form>
</div>