<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="text-center align-middle" style="color: black;position: relative;top: 200px;"><img src="/assets/music.png" style="width: 200px;height: 200px;"></div>
<div *ngIf='show'  style="color: black;position: relative;top:250px;font-size: 2vw;" class="d-flex justify-content-center">
    You are not signed-in</div>
    <div *ngIf='show' class="d-flex justify-content-center" style="position: relative;top:300px" (click)="login()">
   <button class="w3-button w3-white w3-border"><img src="/assets/google.png" style="width: 40px;padding: 10px;">Sign In With Google</button>
    </div>
    <div *ngIf="afAuth.user | async as user;"  style="color: black;position: relative;top:250px;font-size: 2vw;" class="d-flex justify-content-center">
        Welcome {{user.displayName}}<div *ngIf="admin" style="padding-left:15px;">Admin</div>
        </div>
    <div *ngIf="admin" class="d-flex justify-content-center" style="position: relative;top: 300px;">
        <button class="button" style="vertical-align:middle" routerLink="/admin"><span style="font-size: 1vw;">Admin Console </span></button>
    </div>