<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="padding-right: 20px;" (click)="drawer.toggle()"><i class="fas fa-bars"></i></span>
    <span>Album Management</span>
    <span style="position: fixed;right: 5px;"><button class="btn-danger" *ngIf='afAuth.user| async as user' (click)="logout()">Logout</button></span>
  </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize >
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div routerLink="/home" style="cursor: pointer;">
            <i class="fas fa-home"></i>
          Home
        </div>
        <br>
        <div routerLink="/search" style="cursor: pointer;">
            <i class="fas fa-search"></i>
          Search
        </div>
        <br>
        <div routerLink="/fav" style="cursor: pointer;">
          <i class="fab fa-gratipay"></i>
        Favourites
      </div>
      </mat-drawer>
<router-outlet></router-outlet> 